:root{
    --primary-color: #6f6af8;
    --color-primary-light: hsl(242,91%,69%,18%);
    --color-primary-variant: #5854c7;
    --color-red:#da0f3f;
    --secondary-color:#1A659E;
    --premier-color: #FF6B35;
    --color-first:red;
    --mporipori-color: #333333;
    --color-red-light: hsla(346, 87%, 37%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156,100%,38%,15%);
    --color-bg: #0f0f3e;
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242,242,254,0.3);
    --color-gray-200: rgba(242,242,242,0.7);
    --color-white:#f2f2fe;
    --color-light: #055864;
    --color-b: #f2f1ec;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    padding: 10px 20px;
    position: relative;
  }
  .logo {
    display: flex;
    align-items: center;
    color: var(--color-white);
  }
  
 
  .nav_links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
  }
  .nav_links li {
    line-height: 2.5rem;
    display: inline;
  }
  .nav_links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
  }
  .nav_links li:hover{
    background: var(--color-gray-700);
    border-radius: 5px;
  }
  .nav_links li.current a{
    background-color: var(--color-gray-700);
  }
  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .fa{
    color: var(--color-white);
  }
  /* end of navigation */
  /* container style */
  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    background-color: var(--color-bg);
  }
  .header_left{
    margin: 20px 40px;
    line-height: 1.3rem;
    color: var(--color-white);
  }
  .header_left h2{
    margin-bottom: 20px;
  }
  .header_right{
    margin: 20px 40px;
  }
  .header_right img{
    height: 300px;
    width: 300px;
  }
  .btn{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: var(--color-red);
    border: none;
    border-radius: 0.4rem;
    color: var(--color-white);

  }
  /* end of container style */


  @media screen and (max-width: 768px) {
    .nav_bar{
        padding: 50px;
       }
          .nav_links {
            display: none;
            flex-direction: column;
            background:  var(--color-bg);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0.8px 0px;   
        }
        .nav_links.show {
            display: flex;
        }
        .navbar-toggler {
            display: block;
        }
        .button{
          margin-bottom: 2rem;
        }
        .container{
            grid-template-columns: 1fr; 
        }
        .header_left,.header_right{
            margin: 20px 50px;
        }
  }